<div class="container-header">
  <mat-toolbar color="primary">
    <div class="mat-toolbar-row"> <!-- Adicione a classe mat-toolbar-row aqui -->
      <button mat-button routerLink="/">App Bookstore</button>
      <span class="flex-spacer"></span> <!-- Adicione a classe flex-spacer aqui -->
      <div class="menu">
        <!-- Seus botões aqui -->
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>