<div class="container my-4">
    <h1 class="d-flex justify-content-center">{{ title }}</h1>
    <form [formGroup]="bookForm">
        <fieldset>
            <legend>Book data</legend>
            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="titulo" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Author</mat-label>
                        <input matInput formControlName="nomeAutor" />
                    </mat-form-field>
                </div>

                <fieldset formGroupName="categoria">
                
                        <div class="col-3">
                            <mat-form-field appearance="outline">
                                <legend>nome categoria</legend>
                                <mat-label></mat-label>
                                <input matInput formControlName="nome" />
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="outline">
                                <legend>descricao</legend>
                                <mat-label></mat-label>
                                <input matInput formControlName="descricao" />
                            </mat-form-field>
                     
                    </div>
                </fieldset>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Read status</mat-label>
                        <mat-select formControlName="status" [(value)]="selectedStatus">
                            <mat-option *ngFor="let option of readStatus" [value]="option.value">
                                {{ option.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </fieldset>
       
       

        <button mat-flat-button (click)="onCancel()">Return</button>
        <button mat-flat-button [disabled]="bookForm.invalid" color="primary" cdkFocusInitial (click)="onSubmit()">
            Save
        </button>
    </form>
</div>